<div class="center-content">
  <h1 class="registration-title">ユーザー登録</h1>
  <div class="form-container">
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="おなまえ" class="input-field">
      <input type="submit" value="登録" class="submit-button">
    </form>
  </div>
</div>
